h1{
    color: #ae5130;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
  }
  
  p{
  color: black;
  font-size: medium;
  font-weight: 600;
  }

  body {
  text-align: center;
  }
  .test{
    background-color: aqua;
    width: 50vw;
    display: inline-block;
    margin: 0 auto;
    padding-left:2.1vw;
    padding-right: 2.1vw;
  }
  hr{
    color:black;
    border-bottom:solid;
  }

  #container {
    position: relative; /* Allow for absolute positioning within the container */
    width: 600px; /* Define the width of the container */
    height: 600px; /* Define the height of the container */
    border: 2px solid black; /* Add a border to the container */
    margin: 0 auto; /* Center the container */
    overflow:hidden; /* Hide content that goes outside the container */
}

  #movingText1 {
  position: absolute;
  color: red;
  white-space: nowrap;
}

  #movingText2 {
  position: absolute;
  color: blue;
  white-space: nowrap;
} 

#movingText3 {
  position: absolute;
  color: green;
  white-space: nowrap;
} 

.start {
    background-color: black;
    width: 100vw;
    margin: 0 auto;
    padding-bottom: 2vw;
    padding-top: 1.7vw;
}